# Ignore dependencies (they will be installed fresh inside the container)
node_modules
**/node_modules

# Ignore build outputs
.next
**/.next
dist
**/dist
build
**/build

# Ignore git history and local env files
.git
.env*
!frontend/.env.local 
# Keep the line !frontend/.env.local only if you want to hardcode secrets into the image
# Better practice is usually to ignore all .env and pass args like we are currently doing

# Ignore backend venvs and caches
**/.venv
**/__pycache__
**/*.pyc